#slider {
    padding: 0;
}

.container {
  padding: 6rem 0;
}

p,li{
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 1rem;
    letter-spacing: .05rem;
    text-align: justify;
}

h1 {
    text-align: center;
    justify-content: center;
}

body{
    background: url(../IMG/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer{
    text-align: center;
    background-color: #c5171d;
    height: 15vh;
}
.btn{
    background-color: #d71920;
    border:none;
  }

.card-border {
  border: solid 10px #d71920;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card-border:hover {
  transform: scale(1.03);
}

.btnSoporte {
    background-color: white;
    color: #d71920;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btnSoporte:hover {
  background-color: #d71920;
  color: black;
}

.card-bodySoporte {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 10px;
    text-align: center;
    border:2px solid black;
}

.cardSoporte {
  background-color: #d71920;
}

.imagen {
  width: 490px;
  height: 350px;
}

